.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust as needed */
}

.SE-Card{
    box-shadow: 0px 2px 12px 0px #0000000A;
    border: 1px solid #E5E5E5;
}

.slds-grid_align-start {
    align-items: center; /* Ensures items are vertically centered */
}

.slds-p-left_small{
    padding: 8px ;
 }

.slds-text-title_bold {
    color: #033D68; /* Replace with the desired color code */ 
}

.left-button {
    margin-right: auto;
    display: flex;                /* Use Flexbox layout */            /* Space between the text and badge */
}

.custom-badge {
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;
}

.custom-badge:hover {
    background-color: #4d4d4d; /* Darker shade of blue for hover effect */
    color: #fff;
}

.custom-badge.active {
    background-color: #4d4d4d; /* Color when active */ 
    color: #fff; /* Text color when active */
}

.slds-badge_inverse {
    --slds-c-badge-color-background: #f3f3f3 ;
    --slds-c-badge-text-color: #181818;
}

.slds-has-button-menu .slds-th__action {
    background-color: #181818 !important;
}

.SE-searchCardInputLabel{
  color: #181818 !important;
  font-weight: 400 !important;
  cursor: pointer !important;
}

lightning-input{
  --slds-c-input-radius-border: 8px;
}

lightning-combobox{
  --slds-c-input-radius-border: 8px;
}


.custom-table-container {
  margin-top : 24px; /* Adds padding around the table */
  margin-bottom: 24px;
  table-layout: fixed;
  width: 100%;
}

.custom-table {
  width: 100%;
  border: 1px solid #d8dde6; /* Adds a border to the table */
  border-radius: 12px;
  overflow: hidden;
}

.custom-table thead tr.custom-header th {
  background-color: #f3f3f3; /* Custom background color for the header */
  font-weight: 700;
  font-size: 13px;
  color: #181818;
  height: 32px; /* Fixed height for table header */
  vertical-align: middle;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #E5E5E5;
  padding: 5px 12px 5px 12px !important;;
  text-align: left;
}

.custom-table tbody tr.custom-column td {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px; 
  vertical-align: middle;
  /* padding: 6px 12px 6px 12px; */
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #E5E5E5;
  overflow: hidden; 
  box-sizing: border-box;
  padding: 5px 12px 5px 12px !important;;
  text-align: left;
}



.custom-table thead tr.custom-header th:last-child,
.custom-table tbody tr.custom-column td:last-child {
  border-right: none;
}



.no-border {
  border-top: none !important;
  border-bottom: none !important;
}

.loader-row {
  height: 430px; /* Adjust height as needed for proper loader centering */
}

.no-border-row td {
  border-top: none !important;
  border-bottom: none !important;
}

.custom-column {
  font-size: 14px;
  height: 40px; /* Fixed height for table rows */
  vertical-align: middle;
  font-weight: 400;
  max-width: 150px; /* Ensure the columns do not stretch with data */
  min-width: 150px; /* Ensure minimum space is fixed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* hover sort icon code  */
.custom-header .sort-icon {
  visibility: hidden; 
}

.custom-header th:hover .sort-icon {
  visibility: visible;
  --slds-c-icon-color-foreground-default:#768eb8; /* Custom color for the sort icon when sorted */
  transform: scale(0.9);

}

.custom-header .sorted .sort-icon {
  visibility: visible; 
  --slds-c-icon-color-foreground-default: #253858;
  transform: scale(0.9);
}

.custom-header .sorted:hover .sort-icon {
  --slds-c-icon-color-foreground-default: #253858; 
  visibility: visible; 
}


.no-border {
  border-top: none !important;
  border-bottom: none !important;
}

.loader-row {
  height: 430px; /* Adjust height as needed for proper loader centering */
}

.no-border-row td {
  border-top: none !important;
  border-bottom: none !important;
}
/* 

lightning-input{
    --slds-c-input-radius-border: 8px;
    }

lightning-combobox{
    --slds-c-input-radius-border: 8px;
}      */

.custom-table th:nth-child(1),
.custom-table td:nth-child(1),
.custom-table th:nth-child(2),
.custom-table td:nth-child(2),
.custom-table th:nth-child(4),
.custom-table td:nth-child(4),
.custom-table th:nth-child(5),
.custom-table td:nth-child(5),
.custom-table th:nth-child(6),
.custom-table td:nth-child(6),
.custom-table th:nth-child(7),
.custom-table td:nth-child(7) {
    max-width: 120px; /* Adjusted width */
    min-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
    max-width: 200px; 
    min-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.custom-table th:nth-child(8),
.custom-table td:nth-child(8) {
    max-width: 50px; 
    min-width: 50px;
}



.actionMenu{
  align-items: center;
  
}

.slds-button_icon-inverse.custom-button-menu {
  border: none;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  display: flex;
}


.delete-item .slds-truncate {
  color: var(--slds-g-color-error-base-40, #ea001e);
}

.pagination-controls {
    display: flex;
    align-items: center;
    gap: 24px; 
    padding: 8px;
    justify-content: center; 
     margin-bottom: 24px;
     --sds-c-button-radius-border: 8px;

}

.pagination-controls lightning-button {
  background-color: #0070d2; 
  color: white; 
  border-radius: 8px; 
  border: 1px;
  width: 80px;
  height: 32px;
  transition: background-color 0.3s ease; 
}

.pagination-controls lightning-button:hover {
  background-color: #005bb5; 
}

.pagination-controls lightning-button[disabled] {
  background-color: #ccc; 
  color: #666; 
  cursor: not-allowed;
}
.slds-button__icon {
  width: 11.38px;
  height: 9.23px;
  position: relative;
  top: 3.37px;
  left: 2.3px;
  gap: 0px;
  opacity: 1; /* Make sure the icon is visible */
}

.paginationText {
  color: #747474;
  font-size: 14px;
}


.pagination-info {
  color: #333; /* Text color */
  font-size: 10px; /* Font size for pagination info */
  margin-right: 1rem; /* Space between info and buttons */
}

.pagination-info span {
  font-weight: bold; /* Make the current page number bold */
}