.custom-modal-container {
    width: 90%;
    height: 85%;
    max-width: 95%;
    max-height: 95%;
    margin-top: 62px;
    overflow: hidden; /* Ensure no scrollbars appear */
}
.custom-close-icon  {
    --slds-c-icon-color-foreground-default: white;
 }