.dueIcons_Row,
.icon_container {
  display: flex;
}
.dueIcons_Row {
  margin-bottom: 60px;
}
.icon_container {
  text-align: center;
  max-width: 232px
}
.icon_container img {
  height: 52px;
}
.icon_container p.large {
  margin-top: 8px;
  text-transform: uppercase
}
.btn-icon {
  height: 24px;
  margin-right: 8px;
}
.secondaryBtn {
  background-color: transparent;
  color: #2d2c2c;
  padding: 16px 36px;
  height: auto;
  margin-left: 24px;
}

.card_wrapper {
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 #e7e9f2;
  display: flex;
  margin-bottom: 12px;
}

.noAction_wrapper {
  display: flex;
  padding: 32px 25px 25px;
  align-items: center;
}

.buildingGroup {
  width: 172px;
}

.noDataRightContent {
  margin-left: 40px;
}

@media only screen and (max-width: 1023px) {
  .dueIcons_Row {
    flex-direction: column;
  }
  .secondaryBtn {
    margin-top: 8px;
    margin-left: 0;
  }

  .card_wrapper {
    padding: 32px;
  }

  .noAction_wrapper {
    padding: 0;
    flex-direction: column;

  }

  .leftContent {
    display: flex;
  }

  .nodataContent {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .buildingGroup {
    margin: 0 auto;
}

  .noDataRightContent {
    margin-left: 0;
    text-align: center;
  }
}