.topicCard {
    border-radius: 4px;
    background-color: #000000;
    height: 120px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.topicContent {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 24px;
}

.topicCard .largeBold {
    color: #FFFFFF;

}

.topicImg {
    height: 120px;
    width: 100%;
    border-radius: 4px;
}

.noCollectionHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 52px;
}

.noCollectionLink {
    display: flex;
    align-items: center;
}

.noCollectionLink a {
    text-decoration: underline
}

.noCollectionLink .small {
    color: #09538b;
}

.noCollectionLink .blueArrow {
    margin-left: 12px;
    width: 22px;
    cursor: pointer;
}

.showMore {
    width: 30px;
    padding-right: 8px;
}

.showAllWrapper {
    border: 2px dashed #D0CFCF;
    border-radius: 4px;
    height: 125px;
    margin-bottom: 60px;
}

.showAllWrapper,
.showAllContent {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #09538B;
}

.showAllContent {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1023px) {
    .noCollectionHeader {
        flex-direction: column;
    }

    .noCollectionLink {
        margin-top: 16px;
    }

    .topicCard {
        margin-bottom: 16px;
    }
}