.tab_wrapper {
    border: 1px solid #D0CFCF;
    border-bottom: none;
}

/* 
.card_content_wrapper {
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #D0CFCF;
    background-color: white;
} */

.card_wrapper {
    border-bottom: 1px solid #d0cfcf;
    /* border-radius: 4px; */
    background-color: #ffffff;
    /* box-shadow: 0 8px 16px 0 #e7e9f2; */
    display: flex;
    /* margin-bottom: 12px; */
}

.card_content_wrapper {
    position: relative;
    padding-left: 20px;
}

.mainContent {
	display: flex;
    padding: 16px 0 20px 0;
}

.leftContainer {
    margin-right: 20px;
    padding-top: 16px;
}

.cardIcon {
    height: 30px;
    margin-bottom: 12px;
}

.textColor{
    color: #757575;
}

/* .card_wrapper {
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 #e7e9f2;
    display: flex;
    margin-bottom: 12px;
} */

.noAction_wrapper {
    display: flex;
    padding: 32px 25px 25px;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #d0cfcf;
}

.buildingGroup {
    width: 172px;
}

.noDataRightContent {
    margin-left: 40px;
}

.rightContent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top_icon {
    padding: 16px 12px 0 0;
    cursor: pointer;
}

.bottom_icon {
    border: 1px solid #d0cfcf;
    border-radius: 4px 0 4px 4px;
    background-color: #f7f9fa;
    display: flex;
    margin: auto 0 0;
    padding: 16px 12px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.ellipsis-icon {
    width: 20px;
    margin: auto;
}


.ellipsis_expand {
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 #e7e9f2;
    padding: 12px 24px;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.data-pairs {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
}

.infoLabel {
    color: #757575;
}

.cred_details {
    padding: 0 72px 32px 32px;
    display: none;
}

.cred_row {
    padding: 16px 0 0 32px;
    /* border-top: 1px solid #ecebeb; */
}

hr {
    margin: 0 72px 0 12px;
    border-top: 1px solid #ecebeb;
    width: 100%;
}

.show {
    display: block;
}

.slds-button.primaryBtn {
    width: 100%;
}

@media only screen and (max-width: 1023px) {

    .noAction_wrapper {
        padding: 32px;
        flex-direction: column;
    }

    .nodataContent {
        margin-top: 20px;
        margin-bottom: 8px;
    }

    .noDataRightContent {
        margin-left: 0
    }
	
	.mainContent {
        flex-direction: column;
    }
	
	.cardIcon {
		height: 22px;
	}
}