.document-info-container {
    background-color: #ffffff;
    font-family: 'SF Pro', sans-serif;
    margin: 0 auto;

    border-radius: 12px;
}

/* Container for form inputs */

/* Input groups */
.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

/* Form group width */
.quarter-width {
    flex-basis: 24%;
}

/* Custom label */
.custom-label {
    font-size: 12px;
    font-weight: 590;
    color: #5c5c5c;
    margin-bottom: 0.25rem;
    display: block;
}

/* Error styles */
.slds-has-error .input-field {
    border: 1px solid red;
}

.slds-form-element__help {
    font-size: 12px;
    color: red;
}

/* Input fields */
.input-field {
    width: 100%;
}

/* File upload container */
.fileUploadContainer {
    width: 100%;
}

.required-label {
    font-size: 12px;
    font-weight: 590;
    margin-bottom: 0.5rem;
}

.required-indicator {
    color: red;
    margin-right: 0.2rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .input-group {
        flex-direction: column;
        gap: 1rem;
    }
}