.tab_wrapper {
  margin: 24px 0 60px 0;
}
.card_wrapper {
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 #e7e9f2;

  display: flex;
  margin-bottom: 12px;
}
.card_content_wrapper {
  position: relative;
  padding-left: 20px;
  min-height: 112px;
}
.mainContent {
  display: flex;
  padding: 16px 0 20px 0;
}
.leftContainer {
  margin-right: 20px;
  padding-top: 16px;
}
.cardIcon {
  height: 22px;
}
.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.top_icon {
  padding: 16px 12px 0 0;
  cursor: pointer;
}
.bottom_icon {
  border: 1px solid #d0cfcf;
  border-radius: 4px 0 4px 4px;
  background-color: #f7f9fa;
  display: flex;
  margin: auto 0 0;
  padding: 16px 12px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.ellipsis-icon {
  width: 20px;
  margin: auto;
}
.data-pairs {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
.infoLabel {
  color: #757575;
}
.cred_details {
  padding: 0 72px 32px 32px;
  display: none;
}
.cred_row {
  padding: 16px 0 0 32px;
  /* border-top: 1px solid #ecebeb; */
}
.loadmore_Block {
  margin-top: 20px;
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid #ecebeb;
  border-bottom: 1px solid #ecebeb;
  cursor: pointer;
}
.loadmore_Block .small {
  color: #09538b;
  text-decoration: underline;
}
hr {
  margin: 0 72px 0 12px;
  border-top: 1px solid #ecebeb;
  width: 100%;
}
.noAction_wrapper {
  display: flex;
  padding: 32px 24px 24px;
  align-items: center;
}
.buildingGroup {
  width: 172px;
}
.noDataRightContent {
  margin-left: 40px;
}
.ellipsis_expand {
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 #e7e9f2;
  padding: 12px 24px;
  position: absolute;
  right: 0;
  top: 44px;
  z-index:1;
  display: none;
  cursor: pointer;
}
.show {
  display: block;
}
.slds-button.primaryBtn {
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .mainContent {
    flex-direction: column;
  }
  .leftContainer {
    margin: 0 0 4px 4px;
    padding-top: 4px;
  }
  .cred_details {
    padding: 0 20px 32px;
  }
  .cred_row {
    padding: 8px 0 0 0;
  }
  hr {
    margin: 0 40px 0 0;
    width: auto;
  }
}