.landing-page .flowContainer {
  margin: auto;
  background: none;
}

.landing-page-banner {
  background: var(--c-NameChangeNameBanner) no-repeat;
  height: 145px;
  background-size: cover;
}

.landing-page-card {
  background-color: #ffffff;
  padding: 32px 20px;
  margin-top: 0;
  margin-bottom: 80px;
}

.completion-time {
  margin-top: 24px;
  font-family: KarlaBold;
  color: #757575;
  margin-bottom: 24px;
}

.completion-time .time-icon {
  width: 18px;
  margin-right: 8px;
}

.hr-line {
  height: 3px;
  opacity: 0.18;
  background-color: #d8d8d8;
  margin-bottom: 60px;
  display: none;
}

.small-heading {
  color: #2d2c2c;
}

.heading-margin {
  margin-bottom: 32px;
}

.para-text {
  margin-bottom: 26px;
  color: #2d2c2c;
}

.bullet-points {
  margin-bottom: 48px;
  padding: 0;
}

.bullet-points li {
  margin-bottom: 22px;
  padding: 0;
  display: flex;
  color: #2d2c2c;
  align-items: start;
}

.bullet-points li:last-child {
  margin-bottom: 0;
}

.top-gap {
  margin-top: 26px;
}

.bullet-points li .bullet-icon {
  margin-right: 16px;
  width: 20px;
  margin-top: 4px;
}

.margin-0 {
  margin: 0;
}

button.slds-button.slds-button_natural.natural-button {
  margin-left: 0px;
  width: unset;
}

.pt-16{
  padding-top: 16px;
}

@media only screen and (min-width: 1024px) {
  .landing-page .flowContainer {
    max-width: 1136px;
  }

  .landing-page-banner {
    height: 316px;
  }

  .landing-page-card {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 8px 0 #e7e9f2;
    padding: 68px 94px 48px 74px;
    margin-top: -190px;
    margin-bottom: 190px;
  }

  .completion-time {
    margin-top: 18px;
    margin-bottom: 60px;
  }
}