:host {
    padding-top: 60px; /* Adjust this value based on your header's height */
    display: block;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #025999; /* Dark Blue background */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -3px 0px 0px #1589EE inset;

}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.title {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header-actions {
    display: flex;
    align-items: center;
}

.language-button, .sign-in-button, .sign-up-button, .logout-button {
    background-color: #025999;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}

.logout-button{
    font-weight: 400;
}

.language-button:hover, .sign-in-button:hover, .sign-up-button:hover, .logout-button:hover {
    text-decoration: underline; /* Underline text on hover */
}

.search-icon {
    fill: white;
}