.slds-grid_align-start {
  align-items: center; /* Ensures items are vertically centered */
}

.slds-p-left_small {
  padding: 8px;
}

.slds-text-title_bold {
  color: #033d68; /* Replace with the desired color code */
}

.left-button {
  margin-right: auto;
  display: flex; /* Use Flexbox layout */ /* Space between the text and badge */
}

.custom-badge {
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease;
}

.custom-badge:hover {
  background-color: #4d4d4d; /* Darker shade of blue for hover effect */
  color: #fff;
}

.custom-badge.active {
  background-color: #4d4d4d; /* Color when active */
  color: #fff; /* Text color when active */
}

.slds-badge_inverse {
  --slds-c-badge-color-background: #f3f3f3;
  --slds-c-badge-text-color: #181818;
}

.slds-has-button-menu .slds-th__action {
  background-color: #181818 !important;
}
/*

lightning-input{
    --slds-c-input-radius-border: 8px;
    }

lightning-combobox{
    --slds-c-input-radius-border: 8px;
}      */

.input-field {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  /*border: 1px solid #C9C9C9;*/
  border-radius: 8px 8px 8px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0px;
  background-color: #ffffff;
  --input-color-background: #ffffff;
  --dxp-s-form-element-text-font-size: 14px;
  --dxp-s-form-element-text-font-weight: 400;
  --dxp-s-form-element-text-line-height: 20px;
  --dxp-s-form-element-color-border: #c9c9c9;
  --dxp-s-form-element-text-color: #181818;
  --sds-c-input-color-border: #c9c9c9;
  --border-width: 1px;
  --dxp-s-form-element-width-border: 1px;
  --dxp-c-input-width-border: 1px;
  --sds-c-input-radius-border: 8px 8px 8px 8px;
  --sds-c-input-color-background: #ffffff;
}

.input-field-combobox {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  /*border: 1px solid #C9C9C9;*/
  border-radius: 8px 8px 8px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
  margin-top: -6px;
  opacity: 0px;
  background-color: #ffffff;
  --input-color-background: #ffffff;
  --dxp-s-form-element-text-font-size: 14px;
  --dxp-s-form-element-text-font-weight: 400;
  --dxp-s-form-element-text-line-height: 20px;
  --dxp-s-form-element-color-border: #c9c9c9;
  --dxp-s-form-element-text-color: #181818;
  --sds-c-input-color-border: #c9c9c9;
  --border-width: 1px;
  --dxp-s-form-element-width-border: 1px;
  --dxp-c-input-width-border: 1px;
  --sds-c-input-radius-border: 8px 8px 8px 8px;
  --sds-c-input-color-background: #ffffff;
}

.custom-column {
  font-size: 14px;
  height: 40px; /* Fixed height for table rows */
  vertical-align: middle;
  font-weight: 400;
  max-width: 150px; /* Ensure the columns do not stretch with data */
  min-width: 150px; /* Ensure minimum space is fixed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.doc-count {
  background-color: #eef4ff; /* Salesforce blue color */
  color: #003a62;
  border-radius: 32px;
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 24px;
  line-height: 1.5rem;
  font-size: 12px;
  margin-left: 0.5rem; /* Small margin to the left of the count */
}

.tableTextChild {
  border-top: 0px;
  margin-left: 7%;
}

.classForTbodyOfDraftRequest .tableTextChild {
  margin-left: 7%;
}

.slds-icon-border-filled {
  border-radius: 50%;
  border: 1px solid #181818;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  height: 14px;
  width: 14px;
}

.custom-table thead tr.custom-header th:last-child,
.custom-table tbody tr.custom-column td:last-child,
.custom-table tbody tr.custom-column-child td:last-child {
  border-right: none;
  border-left: 0px;
}

.custom-table th:nth-child(1),
.custom-table td:nth-child(1),
.custom-table th:nth-child(4),
.custom-table td:nth-child(4),
.custom-table th:nth-child(5),
.custom-table td:nth-child(5),
.custom-table th:nth-child(6),
.custom-table td:nth-child(6),
.custom-table th:nth-child(8),
.custom-table td:nth-child(8),
.custom-table th:nth-child(9),
.custom-table td:nth-child(9) {
  max-width: 100px;
  min-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2),
.custom-table th:nth-child(3),
.custom-table td:nth-child(3),
.custom-table th:nth-child(7),
.custom-table td:nth-child(7),
.custom-table th:nth-child(10),
.custom-table td:nth-child(10) {
  max-width: 70px;
  min-width: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-table th:nth-child(11),
.custom-table td:nth-child(11) {
  max-width: 50px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-header {
  border-left: 0px;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px;
  justify-content: center;
  margin-bottom: 24px;
  --sds-c-button-radius-border: 8px;
}

.pagination-controls lightning-button {
  background-color: #0070d2;
  color: white;
  border-radius: 8px;
  border: 1px;
  width: 80px;
  height: 32px;
  transition: background-color 0.3s ease;
}

.pagination-controls lightning-button:hover {
  background-color: #005bb5;
}

.pagination-controls lightning-button[disabled] {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.classFortableBodyUpdationSpecificCss .tableTextChild {
  border-top: 0px;
  margin-left: 7%;
}

/* hover sort icon code  */
.custom-header .sort-icon {
  visibility: hidden;
}

.custom-header th:hover .sort-icon {
  visibility: visible;
  --slds-c-icon-color-foreground-default: #768eb8 !important; /* Custom color for the sort icon when sorted */
  transform: scale(0.9);
}

.custom-header .sorted .sort-icon {
  visibility: visible;
  --slds-c-icon-color-foreground-default: #253858;
  transform: scale(0.9);
}

.custom-header .sorted:hover .sort-icon {
  --slds-c-icon-color-foreground-default: #253858;
  visibility: visible;
}

.column1 {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 200px;
}

.column2 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column3 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column4 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column5 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column6 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column7 {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 150px;
}

.column8 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* For small screens (mobile) */
@media screen and (max-width: 600px) {
  .column8 {
    max-width: 100px;
    min-width: 80px;
  }
}

/* For medium screens (tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .column8 {
    max-width: 120px;
    min-width: 100px;
  }
}

/* For larger screens (desktops) */
@media screen and (min-width: 1025px) {
  .column8 {
    max-width: 150px;
    min-width: 150px;
  }
}

/*
.status-pill{
    overflow: hidden;
    text-overflow: ellipsis;
} */

.childcolumn1 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 200px;
}

.childcolumn2 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn3 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn4 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn5 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn6 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn7 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  border-left: 0px;
  max-width: 125px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn8 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  max-width: 125px;
  border-left: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 125px;
}

.childcolumn9 {
  font-weight: 400;
  font-size: 14px;
  color: #181818;
  height: 40px;
  border-top: 0px;
  max-width: 100px;
  border-left: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 100px;
}

.childcolumn1 .tableTextChild {
  border-top: 0px;
  margin-left: 8%;
}

.secondDivForDataTable .slds-table_col-bordered td + td,
.secondDivForDataTable .slds-table_col-bordered th + th,
.secondDivForDataTable .slds-table_col-bordered th + td,
.secondDivForDataTable .slds-table_col-bordered td + th,
.secondDivForDataTable .slds-table--col-bordered td + td,
.secondDivForDataTable .slds-table--col-bordered th + th,
.secondDivForDataTable .slds-table--col-bordered th + td,
.secondDivForDataTable .slds-table--col-bordered td + th {
  border-left: 0px solid black;
}

.searchInputFieldsAndComboboxContainer
  .slds-checkbox_toggle
  [type="checkbox"]
  + .slds-checkbox_faux_container
  .slds-checkbox_off {
  display: block;
  color: #f6f9ff;
}

.searchInputFieldsAndComboboxContainer
  .slds-checkbox_toggle
  [type="checkbox"]:checked
  + .slds-checkbox_faux_container
  .slds-checkbox_off {
  display: block;
  color: #f6f9ff;
}

.no-border {
  border-top: none !important;
  border-bottom: none !important;
}

.loader-row {
  height: 430px; /* Adjust height as needed for proper loader centering */
}

.no-border-row td {
  border-top: none !important;
  border-bottom: none !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  z-index: 20px;
}

.custom-table-spacing {
  margin-top: 24px;
  margin-bottom: 24px;
  table-layout: fixed;
  width: 100%;
}

.custom-table {
  width: 100%;
  border: 1px solid #d8dde6;
  border-radius: 12px;
  overflow: hidden;
}
.headingClass {
  font-family: "SF Pro", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  text-align: left;
  width: 16rem;
  color: rgba(12, 124, 206, 1);
}

.modalcontent {
  width: Fixed (1, 776px) px;
  height: Fixed (400px) px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  border: 1px solid rgba(229, 229, 229, 1);
}

.contentheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 12px 0px 0px 0px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.contentBody {
  max-height: 350px;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.resetButton {
  border: 1px solid rgba(0, 58, 98, 1);
  padding: 1px 16px 1px 16px;
  width: 70px;
  height: 32px;
  gap: 10px;
  color: rgba(0, 58, 98, 1);
  background: #ffffff;
  margin-right: 0.7rem;
}

.checkboxText {
  font-family: "SF Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: rgba(24, 24, 24, 1);
  margin-left: 1rem;
  margin-right: 1rem;
}

.slds-form-element {
  margin-bottom: 1rem;
}

.rejectionHeader.slds-modal__header,
.headerClass.slds-modal__header {
  background-color: rgba(238, 244, 255, 1);
}

.rejectionButtonFooter {
  min-width: 137px;
  height: 32px;
  padding: 0 16px;
  background: rgba(0, 58, 98, 1);
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footerRejection {
  box-shadow: 0px -1px 0px 0px #c9c9c9;
  background: #f3f3f3;
  width: 100%;
  height: 3.5rem;
  padding: 0rem 0rem 0rem 2rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  gap: 0.75rem;
}
.cancelButtonFooter {
  min-width: 70px;
  height: 32px;
  border: 1px solid rgba(0, 58, 98, 1);
  background: #ffffff;
  padding: 0 16px;
  display: flex;
  color: rgba(0, 58, 98, 1);
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}

.selectTitle.slds-text-title_bold {
  color: rgba(9, 98, 159, 1);
  padding-left: 0.7rem;
  margin: 0;
}

.rejectionModalContent {
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Ensure modal doesn't exceed viewport */
}