/* Root styles for modal size */
:host {
    --slds-c-modal-sizing-medium: 80vw;
    --lwc-modal-max-width: 80vw; /* Set width to 80% of the viewport */
    --lwc-modal-max-height: 85vh; /* Set max height to 85% of the viewport */
}

.uploaded-file {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem; /* Space between upload button and file name */
}

.uploaded-file-name {
    max-width: 150px; /* Limit width of displayed file name */
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin-right: 0.5rem; /* Space between file name and delete icon */
}

/* Modal container styling */
.slds-modal__container {
    width: 80vw !important;  /* Force width to 80% */
    max-width: 1000px !important;  /* Max width */
    max-height: 85vh !important;  /* Max height */
    overflow: hidden; /* Prevent container from adding scrollbars */
}

/* Content body to allow scrolling */
.custom-modal-body {
    max-height: calc(85vh - 120px); /* Adjust based on header and footer height */
    padding-right: 0.5rem; /* Add padding to avoid overlapping with scrollbar */
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Header and Footer styles */
.slds-modal__header {
    background-color: #EEF4FF;
    border-radius: 16px 16px 0px 0px;
}

.slds-modal__footer {
    margin-top: 1.5rem;
    border-top: 1px solid #dddbda;
    border-radius: 0px 0px 16px 16px;
}

/* Close button styling */
.slds-modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.slds-grid{
    margin-bottom: 1rem;
}

.custom-modal__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    --lwc-borderWidthThin: 0px;
}

.discription-label{
    padding-left: 1rem;
}

.required-label {
    font-size: 12px;
    font-weight: 590;
    margin-bottom: 0.5rem;
}

.required-indicator {
    color: red;
    margin-right: 0.2rem;
}

.slds-item{
    border: 1px solid #e5e5e5;
    padding: 0.5rem;
    margin: 0px;
    border-radius: 8px;
}

.slds-button{
    align-items: right;
}



.custom-space{
    padding: 12px 16px 12px 16px;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.button-left-group{
    display: flex;
    gap: 0.6rem;
}

.button-right-group {
    display: flex;
    align-items: right;
    justify-content: right;
    gap: 1rem;

}

.save-button{
    --sds-c-button-brand-color-background: #003A62;
    --sds-c-button-brand-color-border: #003A62;
    --sds-c-button-brand-color-background-hover: rgb(169, 224, 240);
    --sds-c-button-brand-color-border-hover:  rgb(169, 224, 240);
    --lwc-buttonBorderRadius: 8px;
}

.clear-font{
    color: #747474;
    --slds-c-button-text-color: #003A62;
    --lwc-buttonBorderRadius: 8px;
}

/* Header container styling */
.header-container {
    display: flex;
    align-items: center;
}


/* Media query for responsive adjustments */
@media (min-width: 48em) {
    :host {
        --slds-c-modal-sizing-medium: 80vw;
    }
}