.ct-bos-multi-container-individual {
  border: 1px solid transparent;
  /* padding: 1rem 1rem 1rem 0.625rem; */
  border-radius: 4px;
}

/* .ct-bos-multi-container-individual-checked {
  border: 0.0625rem solid #2066a2;
  border-radius: 0.3125rem;
  background-color: rgba(59, 151, 211, 0.08);
} */
.answergiven {
  border: 2px solid #09538b;
  border-radius: 4px;
  background-color: #09538b;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.ct-bos-multi-container-all .slds-p-vertical_small {
	padding: 8px 0;
}

.input-title {
  padding-left: 34px;
  color: #2d2c2c;
  font-family: 'Karla';
  font-size: 16px;
  letter-spacing: 0.01px;
  line-height: 21px !important;
  position: relative;
  top: 3px;
}

.white-theme .input-title{
  color: #FFFFFF;
 }

/* Styling Checkbox Starts */
.ct-bos-multi-checkbox-label {
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  clear: both;
}

.ct-bos-multi-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ct-bos-multi-checkbox-label .ct-bos-multi-checkbox-custom {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border-radius: 4px;
  border: 2px solid #d0cfcf;
}
.ct-bos-multi-checkbox-container .ct-bos-multi-checkbox-label input[disabled]~.ct-bos-multi-checkbox-custom {
  background-color: #ECEBEB;
  border: 1px solid #D0CFCF;
}
.ct-bos-multi-checkbox-container .ct-bos-multi-checkbox-label input[disabled]~.ct-bos-multi-checkbox-custom:after {
  border-color: #D0CFCF;
}
.ct-bos-multi-checkbox-container .ct-bos-multi-checkbox-label input[disabled]:hover~.ct-bos-multi-checkbox-custom {
  border-color: #D0CFCF;
}
.ct-bos-multi-checkbox-container .ct-bos-multi-checkbox-label input.required-input-error~.ct-bos-multi-checkbox-custom {
  border-color: #DB2426;
}
.ct-bos-multi-checkbox-container .ct-bos-multi-checkbox-label input:hover~.ct-bos-multi-checkbox-custom {
  border-color: #09538b;
}
.ct-bos-multi-checkbox-label input:checked ~ .ct-bos-multi-checkbox-custom {
  border: 2px solid #09538b;
  border-radius: 4px;
  background-color: #09538b;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.ct-bos-multi-checkbox-label .ct-bos-multi-checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0;
  width: 0;
  border-radius: 5px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.ct-bos-multi-checkbox-label
  input:checked
  ~ .ct-bos-multi-checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 5.6px;
  top: 1.6px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
.ct-bos-override {
  padding: 0;
}
.tabfocus:focus {
  outline: 2px solid #2d2c2c;
}

@-moz-document url-prefix() {
  .ct-bos-multi-checkbox-label .ct-bos-multi-checkbox-custom {
    top: 8.216px;
  }
  .input-title {
    display: inline-flex;
  }
}

@media only screen and (max-width: 1023px) {
  p.input-title .slds-rich-text-editor__output{
    line-height: 21px;
	  font-size:16px;
  }

}