.itemText {
  color: #2d2c2c;
  letter-spacing: 0.13px;
  line-height: 27px;
}
.paddingBtm {
  padding-bottom: 15px;
}
.license-container {
  padding-top: 32px;
}
.license-container:last-child {
  padding-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .paddingBtm {
    padding-bottom: 32px;
  }
}