@font-face {
    font-family: myFirstFont;
    src: url('/resource/CT_Assets/fonts/karla/Karla-Regular.ttf');
  }
.mainContainer {
    padding: 4.5rem;
    font-family: 'Lato',sans-serif;
}
.mainSection {
    position: relative;
    bottom: 6rem;
    background-color: #fff;
    box-shadow: none;
}
p.para-style{
    font-family: 'myFirstFont',sans-serif;
    font-size: 16px;
    line-height: 24px
}
.headingSection{
    font-size: 45px !important;
    font-weight: bold !important;
    line-height: 50px !important;
    font-family: 'Lato',sans-serif;
    border-bottom: 1px solid #ecebeb;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.questionHeading{
    font-weight: 700 !important;
    font-family: 'myFirstFont',sans-serif;
    padding-top: 15px;
    color:rgb(45, 44, 44);
    font-size:18px;
}
.questionfields{
    font-size: 14px !important;
    font-family: 'Lato',sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    width: 50rem;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    letter-spacing: 2px;
    border-top: 1px solid #ecebeb;
}
.checkboxField{
    padding-top: 25px;
    font-family: 'Lato',sans-serif;
}
.nav-button {
    font-family: 'Lato',sans-serif;
    padding-top: 25px;
    padding-bottom: 45px;
    border-top: 1px solid #ecebeb;
}
.mainContainer {
    padding: 3rem;
}
.primaryBtn button.slds-button{
    background-color: #09538b;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'myFirstFont',sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 0.6px;
    line-height: 17px;   
    text-align: center;
    text-transform: uppercase;
}
.primaryBtn {
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato',sans-serif;
}
.headingPadding{
    padding-top: 10px;
}

[role=combobox] input[readonly],input[type="text"]{
    font-family: 'myFirstFont',sans-serif;
    font-size:16px;
}
.main-title{
    font-size:51px;
}
a.link-style,.span-style{
    font-family: 'myFirstFont',sans-serif;
}
.page-title{
    font-size:28px;
    line-height:35px;
}
.slds-textarea {
    height: 9rem !important;
} 

@media only screen and (max-width: 64rem){
    .mainContainer {
        padding: 2rem 20px;
    }
    .mainSection {
        bottom: 0;
    }
    .primaryBtn {
        float: left;
    }
    .nav-button {
        margin-top: 60px;
        border-top: 1px solid #ecebeb;
        padding-top: 24px
    }
    .headingSection{        
        font-size: 1.5rem 12px !important;
        font-weight: bold !important;
        line-height: 2.5rem !important;
        width: 21rem;
        padding-bottom: 2rem;
    }
    .questionfields{
        font-size: 1rem 10px !important;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        width: 100%;
    }
    .THIS .questionfields div .slds-form-element__control{
        width:100%;
    }
    .slds-box {
        border: none;
        padding: 0;
    }
}