.cardContainer {
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 #E7E9F2;
    margin-bottom: 16px;
}

.cardWrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 20px;
}

.iconWrapper {
    padding-top: 16px;
}

.contentWrapper {
    margin-left: 20px;
    margin-bottom: 16px;
    width: 100%;
}

.leftContent {
    display: flex;
    width: 100%;
}

.middleContent{
    margin-top: auto;
}

.rightContent {
    display: flex;
    align-items: flex-end;
}

.chevronContainer {
    border: 1px solid #D0CFCF;
    border-radius: 4px 0 4px 4px;
    background-color: #F7F9FA;
    padding: 8px 12px;
}

.icon {
    width: 20px;
}

.cardDetails {
    padding: 0 66px 16px;
}

hr {
    margin: 0 88px 32px 28px;
}

.cust-anchor {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.13;
    font-family: Karla;
    text-decoration: underline;
    color: #09538b;
}




/* New css */
.look-up-button {
    padding-bottom: 48px;
}

.noBizFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #D0CFCF;
    padding-top: 48px;
    border-radius: 4px;
}

.noLienFoundText {
    width: 80%;
    margin-top: 16px;
    text-align: center;
}

.body-bold-text {
    color: #2D2C2C;
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.body-text {
    color: #757575;
    font-family: Karla;
    font-size: 16px;
    letter-spacing: 0.01px;
    line-height: 24px;
    padding-bottom: 24px;
}

@media only screen and (max-width: 1023px) {
    .iconWrapper {
        padding-top: 0;
        padding-bottom: 12px;
    }

    .contentWrapper {
        margin-left: 0;
        margin-bottom: 16px;
    }

    .leftContent {
        flex-direction: column;
    }

    .cardDetails {
        padding: 0 20px;
    }

    hr {
        margin: 0 60px 24px 20px;
    }

    .cardItem {
        margin-bottom: 12px;
    }
}

/* .card-section {
    border-radius: 4px;
    border: 1px solid #D0CFCF;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 #E7E9F2;
    width: 100%;
} */

/* .splitSection {
    display: flex;
    justify-content: space-between;
}

.display {
    display: flex;
}

.pills {
    border-radius: 11.5px;
    background-color: #ECEBEB;
    padding: 4px 12px;
    color:  #2D2C2C;;
    font-size: 14px;
    font-weight: bold;
    font-family: Karla;
    letter-spacing: 0.6px;
    line-height: 17px;
    text-align: right;
    text-transform: uppercase;
}


.labelClass {
    color: #757575;
    letter-spacing: 0.01px;
    font-family: Karla;
}

.fin-input-div{
    padding-bottom: 16px;
}


.customNextBtnDiv {
    padding-top: 36px;
    padding-bottom: 36px;
}

.page-footer {
    display: flex;
    align-items: center;
    padding: 32px 0;
    border-top: solid 1px #ECEBEB;
    margin-top: 80px;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.cust-anchor {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.13;
    font-family: Karla;
    text-decoration: underline;
    color: #09538b;
}

 .principal-details {
    border-bottom: 1px solid #ECEBEB;
    padding-top: 24px;
}

 .principal-details.no-border{
    border:none;
}

 .sub-title {
    color: #757575;
    font-family: Karla;
    font-size: 16px;
    letter-spacing: 0.01px;
    line-height: 24px;
    margin-bottom: 4px;
}

 .sub-desc {
    color: #2D2C2C;
    font-family: Karla;
    font-size: 16px;
    letter-spacing: 0.01px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .arrow-button {
    height: 42px;
    width: 42px;
    border: 1px solid #D0CFCF;
    border-radius: 4px;
    background-color: #F7F9FA;
    margin-left: auto;
    padding:0;
    flex: 0 0 42px;
}

.details-row {
    margin-top: 10px;
}

.card-section .arrow-button img {
    width: 24px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    margin: 0;
}

.card-section .arrow-button img.up {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

@media only screen and (max-width: 1023.9px) {
    .page-footer {
        flex-direction: column-reverse;
        margin-top: 36px;
        padding-top: 0;
    }
    .slds-button.primaryBtnSmall {
        width: 100%;
    }
    .button-wrapper {
        margin-bottom: 32px;
        width: 100%;
    }
    .mobile {
        display: block;
    }

    .gap {
        margin-top: 16px;
    }

    .principal-details {
        border-top: 1px solid #ECEBEB;
        padding-top: 24px;
    }
}

.secondaryBtn{
    background-color: #f7f9fa !important;
} */